<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title> الحسام للتغليف والطباعة </title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet" />

    @!section('links')
    <!--
    CSS
    ============================================= -->


    <link rel="stylesheet" type="text/css" href="../../css/linearicons.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../../css/nice-select.css">
    <link rel="stylesheet" type="text/css" href="../../css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>

    <header id="header" id="home">
        <div class="header-top">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                        <a href="tel:+963 999 999 999">+963 999 999 999 </a>
                        <a href="mailto:info@halhosampack.com">info@halhosampack.com</a>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="container main-menu*">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="Index"><img src="~/img/logo.png" alt="" title="" /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu font1">
                            <li><a href="Contactus">الاتصال بنا </a></li>
                            <li><a href="Customers">العملاء  </a></li>
                            <li><a href="Products">المنتجات </a></li>
                            <li><a href="Abouts">حول المصنع </a></li>

                            <li><a href="Index">الصفحة الرئيسية </a></li>
                        </ul>
                    </nav> 
                </div>
            </div>

    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex justify-content-center align-items-center">
                <div class="banner-content col-lg-9 col-md-12 justify-content-center ">
                    <h1 class="font1">
                        الحسام للتغليف والطباعة  <br>
                        Al Hosam For Printing and Packaging
                    </h1>

                    <a href="#" class="primary-btn header-btn text-uppercase mt-10">
                        <i class="fa fa-angle-double-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>





    @!section('content')




    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">







                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h1 class="mb-10" align="right">الاشتراك في القائمة البريدية   </h1>

                        <form target="_blank" method="get" class="form-inline" align="right">
                            <input class="form-control" name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required="" type="email">
                            <button class="click-btn btn btn-default"><i class="lnr lnr-arrow-right" aria-hidden="true"></i></button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="" tabindex="-1" value="" type="text">
                            </div>
                            <div class="info"></div>
                        </form>

                    </div>
                </div>






                <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h1 class="mb-10" align="right">حول المصنع </h1>
                        <p class="color1">تابعونا على  وسائل التواصل الاجتماعي  </p>
                        <div class="footer-social " align="right">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>

                        </div>
                    </div>
                </div>


                <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h1 class="mb-10" align="right">حول المصنع </h1>

                            <p class="color1">
                                شرح عن المصنع من الشركة شرح عن المصنع من الشركة شرح عن المصنع من الشركة شرح عن المصنع من الشركة شرح عن المصنع من الشركة شرح عن المصنع من الشركة شرح عن المصنع من الشركة
                            </p>

                        </div>
                    </div>

            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script type="text/javascript" src="../../js/vendor/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script type="text/javascript" src="../../js/easing.min.js"></script>
    <script type="text/javascript" src="../../js/hoverIntent.js"></script>
    <script type="text/javascript" src="../../js/superfish.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.ajaxchimp.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../../js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="../../js/mail-script.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
    @!section('scripts')
</body>
</html>

